:root {
    --primary-color: #0000DDDD;
    --danger-color: #DD0000;
    --success-color: #00DD00DD;
    --warning-color: #DDDD00DD;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

.header a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
}

.footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.page-title {
    margin: 20px 0;
}

.store-question {
    border: 0px solid transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 3.5em;
    position: absolute;
    bottom: 100px;
    right: 18px;
    cursor: pointer;
    box-shadow: 0px 0px 5px var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;    
}

button {
    cursor: pointer;
    border: 0px solid transparent;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    font-size: 1.2em;
    box-shadow: 0px 0px 5px var(--primary-color);
}

.button-update {
    background-color: var(--primary-color);
}

.button-update:hover {
    background-color: var(--primary-color, 0.5);
}

.button-delete {
    background-color: var(--danger-color);
}

.button-delete:hover {
    background-color: var(--danger-color, 0.5);
}

.button-confirm {
    background-color: var(--success-color);
    color: #000;
}

.button-confirm:hover {
    background-color: var(--success-color, 0.5);
}

.button-cancel {
    background-color: var(--warning-color);
    color: #000;
}

.button-cancel:hover {
    background-color: var(--warning-color, 0.5);
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    border: 0px solid transparent;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.questions-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.question-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #00000011;
    padding: .5em;
    border-radius: 5px;
}

.question-text {
    justify-self: start;
    width: fit-content;
}

.questions-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: .8em;
    margin: .8em auto;
}

.form-buttons {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: .8em;
}

.form-input input {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1.1em;
    margin: 1.2em 0;
}

.form-input input:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 5px var(--primary-color, 0.8);
}